<header class="d-flex justify-content-between align-items-center">
  <h2>
    <a href="/" class="">The Tech Blog</a>
  </h2>

  <nav class="fs-4">
    {{#if loggedIn}}
      <a href="/dashboard">dashboard</a>
      <button id="logout">logout</button>
    {{else}}
      <a href="/login">login</a>
    {{/if}}
  </nav>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</header>