<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">The Tech Blog</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          {{#if loggedIn}}
            <a class="nav-link" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="/" id="log-out">Log Out</a>
          {{else}}
            <a class="nav-link" href="/log-in">Log In</a>
          {{/if}}
        </div>
      </div>
      <span class="navbar-brand fs-6 text-white text-opacity-50">{{username}}</span>
    </div>
  </nav>

  {{#if loggedIn}}
    <script src="/javascript/log-out.js"></script>
  {{/if}}
</header>